[submodule "vendor/submodules/evil"]
	path = vendor/submodules/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/submodules/evil-surround"]
	path = vendor/submodules/evil-surround
	url = https://github.com/timcharper/evil-surround.git
