[submodule "vendor/submodules/evil"]
	path = vendor/submodules/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/submodules/evil-surround"]
	path = vendor/submodules/evil-surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "vendor/submodules/evil-leader"]
	path = vendor/submodules/evil-leader
	url = https://github.com/cofi/evil-leader.git
[submodule "vendor/submodules/evil-nerd-commenter"]
	path = vendor/submodules/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
